.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    grid: 4px;

}


.widthButton{
    width: 100%;

}